@{
	ViewBag.Title = "Admin Page";
	Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="container-fluid">
	<div class="row" id="intrheader">
		Admin Page hehe
		<button class="btn btn-danger" style="margin: auto; width: 100px; height: 60px; font-size: 30px">Delete the world</button>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="whatis">

		</div>
	</div>
</div>
<!--
</div>
-->
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
