<html lang="pl">

<head>

<meta charset="utf-8">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
   <link rel="stylesheet" type="text/css" href="~/Content/style.css">
   <script type="text/javascript" src="script.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Arima+Madurai" rel="stylesheet">

</head>
<body>



  

	<nav class="navbar navbar-inverse">
	<div class="container-fluid">
	
	
	<a class = "navbar-brand" href="#">Project Primous</a>
	
	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
	
	
	</div>
	    <div class="collapse navbar-collapse" id="nav">
		
		<form class =" hidden-sm hidden-md hidden-lg">
  <div class="form-group">
    </br>
    <input type="login" class="form-control"placeholder="Login">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-default">Sign in</button>
</form>

		</div>
	
	
	
	</nav>

<div id ="loginouter" class="hidden-xs">

<div id = "logininner">

	<form style="width: 50%; display: inline-block;">
  <div class="form-group">
    </br>
    <input type="login" class="form-control"placeholder="Login">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-success">Sign in</button>
</form>
</br>

<a href="#">Forgot password?</a>

</div>
</div>


<div class="container-fluid">
<div class="row" id="intrheader">

Experience true freedom. With Primous.

  </div>

  <div class="row">
  
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"
	  id="whatis">

	  




	  </div>
  
  </div>

</div>









	<!-- jquery-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- bootstrap js -->
    <script src="js/bootstrap.min.js"></script>

</body>











</html>

<!--



</div>
-->
