@using Projekt.NETWeb.Models
@{
	ViewBag.Title = "";
	Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="col-md-2">
	<p>
		<h1>Lewo</h1>
		ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
		enables a clean separation of concerns and gives you full control over markup
		for enjoyable, agile development.ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
		enables a clean separation of concerns and gives you full control over markup
		for enjoyable, agile development.ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
		enables a clean separation of concerns and gives you full control over markup
		for enjoyable, agile development.ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
		enables a clean separation of concerns and gives you full control over markup
		for enjoyable, agile development.
	</p>
</div>
<div class="col-md-8">
	@if (ViewBag.IsAdmin == "Yes")
	{
		<h1>Welcome Admin. You are an Admin</h1>
		<h3>
			@Html.ActionLink("Admin Page", "Index", "Admin")
		</h3>
	}
	<div class="createpost">
		@Html.Action("CreatePost");
	</div>
	@Html.Action("ViewPosts");
</div>
<div class="col-md-2">
	<p>
		<h1>Prawo</h1>
		ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
		enables a clean separation of concerns and gives you full control over markup
		for enjoyable, agile development.ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
		enables a clean separation of concerns and gives you full control over markup
		for enjoyable, agile development.ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
		enables a clean separation of concerns and gives you full control over markup
		for enjoyable, agile development.ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
		enables a clean separation of concerns and gives you full control over markup
		for enjoyable, agile development.
	</p>
</div>