@using Projekt.NETWeb.Models
@model LoginViewModel
@{
    ViewBag.Title = "What is Primous";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


    <div id="wiheader">


    </div>

<div class="intrheader">We're pretty sure you heard about social networks.</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
