@using Projekt.NETWeb.Models
@model LoginViewModel
@{
    ViewBag.Title = "What is Prymous";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


    <div id="wiheader">


    </div>

<div class="intrheader">We're sure you heard about social networks.</div>

<div class="row">





    <div class="col-lg-12" id="intr3">


        <div class="jumbotron hidden-xs" id="intr1in">

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis velit leo.
            <h3>Integer laoreet eros a ante iaculis tempus a vel mi.</h3>

        </div>

        <div class="jumbotron visible-xs" id="intr2in">
            Lorem ipsum dolor sit amet,
            <h5>Integer laoreet eros a ante iaculis tempus a vel mi.</h5>

        </div>

    </div>

    <div class="col-lg-12" id="intr4">


        <div class="jumbotron hidden-xs" id="intr1in">

            Lorem ipsum dolor sit amet,
            <h3>Integer laoreet eros a ante iaculis tempus a vel mi.</h3>

        </div>

        <div class="jumbotron visible-xs" id="intr2in">
            Lorem ipsum dolor sit amet,
            <h5>Integer laoreet eros a ante iaculis tempus a vel mi.</h5>

        </div>

    </div>
</div>

<div class="row">

    <div class="col-lg-12" id="mainintr">
        
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" id="mainintrleft">
                
        1

        </div>


        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" id="mainintrright" >

            2

        </div>


    </div>



</div>







@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
