
@using Projekt.NETWeb.Models
@{
    ViewBag.Title = "What Is Primous?";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="container-fluid">

    <div id="wiheader"> test</div>
    Hello



</div>


